{% extends "layout_static.html" %}
{% block content %}
    <p>Modder's Toolkit is an unofficial checker for errors and issues in osu beatmapsets! The current Modding Assistant created
        by Sieg is outdated and closed source. Modder's Toolkit aims to improve upon this Modding Assistant by providing smooth
        and up-to-date beatmapset checks. This is done by..<ul><li>Being Open Source</li><li>Web Application-based</li></ul>
        By being open source, it means that when the main developer moves on, the project can be handled by the community for
        any other future changes in the Ranking Criteria. Being Web-Based means that checks will most likely be up-to-date to the
        current ranking criteria, as users will not be keeping any old code from previous releases.
    </p>
{% endblock %}
