main {
    min-width: 800px;
    max-width: 1366px;
    padding: 0;
    height: 100%;
    min-height: 600px;
    max-height: 768px;
    position: relative;
}

/* Style the tab */
.tab {
    pointer-events: none;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 38px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.mainwindow {
    margin-left: 200px;
    width: auto;
    height: 100%;
    background-color: #444444;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px;
  height: calc(100% - 40px);
}

.sidebar {
    text-align: center;
    width: 200px;
    min-width: 200px;
    float: left;
    height: 100%;
}

.sidebar ul {
    padding: 0;
    text-align: center;
    list-style: none;
}

.settings {
    pointer-events: none;
    height: 300px;
    width: 100%;
}

select {
    width: 80%;
}

.beatmapsets {
    height: calc(100% - 300px);
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}

.displayinfo {
    height: calc(100% - 40px);
    margin: 20px;
    background-color: #111111;
    color: white;
    overflow-y: scroll;
}

.displaywarning {
    height: calc(50% - 30px);
    margin: 20px;
    background-color: #111111;
    color: white;
    overflow-y: scroll;
}

.infobox {
    padding: 0px 10px;
}

.infobox span{
    color: #EEEEEE;
    display: block;
    font-size: 12px;
    height: 16px;
}

#dragdrop {
    position: absolute;
    outline: 3px dashed #888888;
    outline-offset: -20px;
    background-color: #FFFFFF;
    color: #333333;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    text-align: center;
    vertical-align: middle;
    line-height: 4000%;
}

#dragdrop p {
    vertical-align: middle;
}

/* Remove default bullets */
ul, #problemtree {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#problemtree {
  margin: 0;
  padding: 10px;
}

/* Style the treeroot/arrow */
.treeroot {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size: 12px;
}

/* Create the treeroot/arrow with a unicode, and style it */
.treeroot::before {
  content: "\25B6";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the treeroot/arrow icon when clicked on (using JavaScript) */
.treeroot-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
    font-size: 12px;
}

/* Show the nested list when the user clicks on the treeroot/arrow (with JavaScript) */
.activetree {
  display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(0, 0, 0, .2);
    height: 50px;
    width: 100%;
    font-size: 12px;
}

td {
    padding: 0px 10px;
}

#beatmapsets tr {
    cursor: pointer;
}

#beatmapsets tr.active {
    background-color: #DDDDDD;
    color: #000000;
}

#beatmapsets tr td:last-child {
    opacity: 0.2;
    font-size: 18px;
}

#beatmapsets tr td:last-child:hover {
    opacity: 1;
}
